<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="2">

	<test name="Test1">
		<parameter name="browser" value="chrome" />
		<parameter name="url" value="https://www.calculator.net" />
	
		<classes>
			<class name="testPage.HomePageTest" />
		</classes>
	</test> <!-- Test -->
	
	<test name="Test2">
		<parameter name="browser" value="firefox" />
		<parameter name="url" value="https://www.calculator.net/mortgage-calculator.html" />
		
		<classes>
			<class name="testPage.CalculatorTest" />
		</classes>
	</test>
	
</suite> <!-- Suite -->
